[Desktop Entry]
Name[am]=MX የ ኔትዎርክ እርዳት
Name[ca]=MX Assistent de Xarxa
Name[cs]=MX Pomocník se sítí
Name[da]=MX Netværksassistent
Name[de]=MX-Netzwerkassistent
Name[el]=MX Δίκτυο
Name[es]=MX Asistente de Redes
Name[es_ES]=MX Asistente de Redes
Name[fi]=MX Verkkoavustin
Name[fil_PH]=Katuwang para sa MX Network
Name[fr]=MX Assistant Réseau - MX Network Assistant
Name[fr_BE]=MX Assistant Réseau - MX Network Assistant
Name[gl_ES]=MX Asistente de redes
Name[he_IL]=מסייע הרשת MX
Name[hi]=एमएक्स नेटवर्क साधन
Name[hr]=MX mrežni pomoćnik
Name[hu]=MX hálózati asszisztens
Name[it]=MX Network Assistant
Name[ja]=MX ネットワーク・アシスタント
Name[lt]=MX tinklo pagelbiklis
Name[nb]=MX Nettverksassistent
Name[nl]=MX Netwerk Assistent
Name[nl_BE]=MX-netwerkassistent
Name[pl]=MX Asystent sieci
Name[pt]=MX-Assistente de Redes
Name[pt_BR]=Assistente de Redes do MX
Name[ru]=MX Network Assistant
Name[sk]=MX Sieťový Asistent
Name[sl]=MX Omrežni asistent
Name[sq]=Asistent Rrjeti MX
Name[sv]=MX Nätverks-assistent
Name[tr]=MX Ağ Yardımcısı
Name[zh_CN]=MX 网络助手
Name[zh_TW]=MX 網路助理
Name=MX Network Assistant
Comment[af]=Netwerkkonfigurasie en probleemoplossing
Comment[am]=የ ኔትዎርክ ማሰናጃ እና ችግሩን ማግኛ
Comment[ar]=ﺎﻬﺣﻼ﻿ﺻﺇﻭ ءﺎﻄﺧﻷ﻿ﺍ ﻑﺎﺸﻜﺘﺳﺍﻭ ﺔﻜﺒﺸﻟﺍ ﻦﻳﻮﻜﺗ
Comment[be]=Канфігурацыя сеткі і ліквідацыя непаладак
Comment[bg]=Мрежова конфигурация и отстраняване на грешки
Comment[bn]=নেটওয়ার্ক কনফিগারেশন এবং সমস্যা সমাধান
Comment[bs]=Mrežna konfiguracija i rješavanje problema
Comment[ca]=Configuració de xarxa i resolució de problemes
Comment[ceb]=Pag-configure sa network ug pag-troubleshoot
Comment[co]=Cunfigurazione di a rete è risoluzione di prublemi
Comment[cs]=Nastavení sítě a řešení problémů se sítí
Comment[cy]=Cyfluniad rhwydwaith a datrys problemau
Comment[da]=Netværkskonfiguration og -fejlsøgning
Comment[de]=Netzwerkkonfiguration und -Problemlösung
Comment[el]=Διαμόρφωση δικτύου και αντιμετώπιση προβλημάτων
Comment[eo]=Reta agordo kaj solvo de problemoj
Comment[es]=Configuración de red y resolución de problemas
Comment[es_ES]=Configuración de redes y resolución de problemas
Comment[et]=Võrgu konfigureerimine ja tõrkeotsing
Comment[eu]=Sarearen konfigurazioa eta arazoak konpontzea
Comment[fa]=ﯽﺑﺎﯾ ﺐﯿﻋ ﻭ ﻪﮑﺒﺷ ﯼﺪﻨﺑﺮﮑﯿﭘ
Comment[fi]=Verkon asetukset ja vianetsintä
Comment[fil]=Pag-configure ng network at pag-troubleshoot
Comment[fr]=Configuration et dépannage du réseau
Comment[fr_BE]=Configuration et dépannage du réseau
Comment[fy]=Netwurk konfiguraasje en troubleshooting
Comment[ga]=Cumraíocht líonra agus fabhtcheartaithe
Comment[gd]=Rèiteachadh lìonra agus fuasgladh dhuilgheadasan
Comment[gl]=Configuración da rede e resolución de problemas
Comment[gu]=નેટવર્ક ગોઠવણી અને મુશ્કેલીનિવારણ
Comment[ha]=Tsarin hanyar sadarwa da magance matsala
Comment[haw]=ʻO ka hoʻonohonoho pūnaewele a me ka hoʻoponopono pilikia
Comment[he]=תויעב ןורתפו תשר תרוצת
Comment[he_IL]=הגדרות ופתרון תקלות רשת
Comment[hi]=नेटवर्क कॉन्फ़िगरेशन और समस्या निवारण
Comment[hr]=Mrežna konfiguracija i rješavanje problema
Comment[ht]=Konfigirasyon rezo ak depanaj
Comment[hu]=Hálózat konfiguráló és hibajavító
Comment[hy]=Ցանցի կազմաձևում և անսարքությունների վերացում
Comment[id]=Konfigurasi jaringan dan pemecahan masalah
Comment[is]=Uppsetning og vandamálalausnir varðandi nettengingar
Comment[it]=Configurazione della rete e risoluzione dei problemi
Comment[ja]=ネットワークの設定とトラブルシューティング
Comment[jv]=Konfigurasi jaringan lan ngatasi masalah
Comment[ka]=ქსელის კონფიგურაცია და პრობლემების მოგვარება
Comment[kk]=Желіні конфигурациялау және ақауларды жою
Comment[km]=ការកំណត់រចនាសម្ព័ន្ធបណ្តាញ និងការដោះស្រាយបញ្ហា
Comment[kn]=ನೆಟ್u200cವರ್ಕ್ ಕಾನ್ಫಿಗರೇಶನ್ ಮತ್ತು ದೋಷನಿವಾರಣೆ
Comment[ko]=네트워크 구성 및 문제 해결
Comment[ku]=Veavakirina torê û çareserkirina pirsgirêkan
Comment[ky]=Тармакты конфигурациялоо жана көйгөйлөрдү чечүү
Comment[lb]=Network Configuratioun an troubleshooting
Comment[lo]=ການຕັ້ງຄ່າເຄືອຂ່າຍແລະການແກ້ໄຂບັນຫາ
Comment[lt]=Tinklo konfigūravimas ir nesklandumų šalinimas
Comment[lv]=Tīkla konfigurēšana un problēmu novēršana
Comment[mg]=Fanamboarana tambajotra sy famahana olana
Comment[mi]=Te whirihoranga whatunga me te rapu raruraru
Comment[mk]=Мрежна конфигурација и смена на проблеми
Comment[ml]=നെറ്റ്u200cവർക്ക് കോൺഫിഗറേഷനും ട്രബിൾഷൂട്ടിംഗും
Comment[mn]=Сүлжээний тохиргоо болон алдааг олж засварлах
Comment[mr]=नेटवर्क कॉन्फिगरेशन आणि समस्यानिवारण
Comment[ms]=Konfigurasi rangkaian dan penyelesaian masalah
Comment[mt]=Konfigurazzjoni tan-netwerk u soluzzjoni tal-problemi
Comment[my]=ကွန်ရက်ဖွဲ့စည်းပုံနှင့် ပြဿနာဖြေရှင်းခြင်း
Comment[nb]=Oppsett og feilsøking av nettverket
Comment[ne]=नेटवर्क कन्फिगरेसन र समस्या निवारण
Comment[nl]=Netwerk Configuratie en Foutopsporing
Comment[nl_BE]=Netwerkconfiguratie en probleemoplossing
Comment[ny]=Kukonzekera kwa netiweki ndikuthetsa mavuto
Comment[or]=ନେଟୱର୍କ ବିନ୍ୟାସ ଏବଂ ତ୍ରୁଟି ନିବାରଣ |
Comment[pa]=ਨੈੱਟਵਰਕ ਸੰਰਚਨਾ ਅਤੇ ਸਮੱਸਿਆ ਨਿਪਟਾਰਾ
Comment[pl]=Konfiguracja sieci i rozwiązywanie problemów
Comment[ps]=ﻝﻮﮐ ﻞﺣ ﻭﺰﻧﻮﺘﺳ ﺩ ﻭﺍ ﺐﯿﺗﺮﺗ ﯥﮑﺒﺷ ﺩ
Comment[pt]=Configuração e resolução de problemas de redes [mx-network-assistant]
Comment[pt_BR]=Configurações e resoluções de problemas de conexões de redes com o MX Network Assistant
Comment[ro]=Configurarea rețelei și depanarea
Comment[ru]=Конфигурация сети и устранение неполадок
Comment[rw]=Imiterere y'urusobe no gukemura ibibazo
Comment[sd]=ﮠﺮڪ ﻞﺣ ﻼ﻿ﺌﺴﻣ ۽ ﮡﮬﺎﭠ ڪﺭﻭ ٽﻴﻧ
Comment[si]=ජාල වින්u200dයාසය සහ දෝශ නිරාකරණය
Comment[sk]=Konfigurácia a riešenie problémov so sieťou
Comment[sl]=Konfiguriranje omrežja in odpravljanje težav
Comment[sm]=Feso'ota'iga feso'ota'iga ma fa'afitauli
Comment[sn]=Network kumisikidza uye kugadzirisa matambudziko
Comment[so]=Habaynta shabakada iyo cilad-baadhista
Comment[sq]=Formësim dhe diagnostikim rrjetesh
Comment[sr]=Мрежна конфигурација и решавање проблема
Comment[st]=Tlhophiso ea marang-rang le ho rarolla mathata
Comment[su]=Konfigurasi jaringan sareng ngungkulan
Comment[sv]=Nätverkskonfiguration och felsökning
Comment[sw]=Usanidi wa mtandao na utatuzi wa shida
Comment[ta]=பிணைய கட்டமைப்பு மற்றும் சரிசெய்தல்
Comment[te]=నెట్u200cవర్క్ కాన్ఫిగరేషన్ మరియు ట్రబుల్షూటింగ్
Comment[tg]=Танзимоти шабака ва ҳалли мушкилот
Comment[th]=การกำหนดค่าเครือข่ายและการแก้ไขปัญหา
Comment[tk]=Tor konfigurasiýasy we näsazlyklary düzetmek
Comment[tr]=Ağ yapılandırma ve Sorun giderme
Comment[tt]=Челтәр конфигурациясе һәм проблемаларны чишү
Comment[ug]=ﺶﯩﻠﯩﻗ ﭖەﺭەﺗ ﺮﯩﺑ ﻰﻨﯩﻠﯩﺷﺎﻛ ەﯞ ﻰﺴﯩﻤﯩﻠﭘەﺳ ﺭﻮﺗ
Comment[uk]=Конфігурація мережі та усунення несправностей
Comment[ur]=ﮓﻨﭨﻮﺷ ﻞﺑﺮﭨ ﺭﻭﺍ ﻦﺸﯾﺮﮕﯿﻔﻨﮐ ﮎﺭﻭ ﭧﯿﻧ
Comment[uz]=Tarmoq konfiguratsiyasi va muammolarni bartaraf etish
Comment[vi]=Cấu hình mạng và khắc phục sự cố
Comment[xh]=Ubumbeko lwenethiwekhi kunye nokusombulula ingxaki
Comment[yi]=גניטאָאָשעלבואָרט ןוא ןאַשיירעיגיפנאַק ץענ
Comment[yo]=Iṣeto ni nẹtiwọki ati laasigbotitusita
Comment[zh_CN]=网络配置和故障排除
Comment[zh_TW]=設定網路與排除障礙
Comment=Network configuration and troubleshooting
Exec=mxna-launcher
Icon=mx-network-assistant
NoDisplay=false
Categories=System;MX-Setup;
Type=Application
