[Desktop Entry]
Name=MX Network Assistant
Name[am]=MX የ ኔትዎርክ እርዳት
Name[ca]=MX Assistent de Xarxa
Name[cs]=MX Pomocník se sítí
Name[da]=MX Network Assistant
Name[de]=MX Netzwerkassistent
Name[el]=MX Network Assistant
Name[es]=MX Asistente de Redes
Name[fi]=MX Network Assistant
Name[fr]=MX Assistant Réseau
Name[hi]=MX Network Assistant
Name[hr]=MX Network Assistant
Name[hu]=MX hálózati asszisztens
Name[is]=MX Network Assistant
Name[it]=MX Network Assistant
Name[ja]=MX Network Assistant
Name[kk]=MX Network Assistant
Name[lt]=MX tinklo pagelbiklis
Name[nl]=MX Netwerk Assistent
Name[pl]=MX Network Assistant
Name[pt_BR]=MX Assistente de Redes
Name[pt]=MX-Assistente de Redes
Name[ro]=MX Network Assistant
Name[ru]=MX Network Assistant
Name[sk]=MX Sieťový Asistent
Name[sq]=MX Network Assistant
Name[sv]=MX Nätverks-assistent
Name[tr]=MX Network Assistant
Name[uk]=MX Network Assistant
Name[zh_TW]=MX 網路助理
Comment=Network configuration and troubleshooting
Comment[am]=የ ኔትዎርክ ማሰናጃ እና ችግሩን ማግኛ
Comment[ca]=Configuració de xarxa i resolució de problemes
Comment[cs]=Nastavení sítě a řešení problémů se sítí
Comment[da]=Netværkskonfiguration og -fejlsøgning
Comment[de]=Netzwerk-Konfiguration und -Problemlösung
Comment[el]=Διαμόρφωση του δικτύου και Αντιμετώπιση προβλημάτων
Comment[es]=Configuración de red y resolución de problemas
Comment[fi]=Verkon asetukset ja vianetsintä
Comment[fr]=Configuration et dépannage des réseaux
Comment[hi]=Network configuration and troubleshooting
Comment[hr]=Network configuration and troubleshooting
Comment[hu]=Hálózat konfiguráló és hibajavító
Comment[is]=Uppsetning og vandamálalausnir varðandi nettengingar
Comment[it]=Configurazione della rete e risoluzione dei problemi
Comment[ja]=ネットワーク設定・トラブル解決
Comment[kk]=Network configuration and troubleshooting
Comment[lt]=Tinklo konfigūravimas ir nesklandumų šalinimas
Comment[nl]=Netwerk Configuratie en Foutopsporing
Comment[pl]=Network configuration and troubleshooting
Comment[pt_BR]=Configuração e resolução de problemas de redes [mx-network-assistant]
Comment[pt]=Configuração e resolução de problemas de redes [mx-network-assistant]
Comment[ro]=Network configuration and troubleshooting
Comment[ru]=Конфигурация сети и устранение неполадок
Comment[sk]=Konfigurácia a riešenie problémov so sieťou
Comment[sq]=Network configuration and troubleshooting
Comment[sv]=Nätverkskonfiguration och felsökning
Comment[tr]=Ağ yapılandırma ve Sorun giderme
Comment[uk]=Network configuration and troubleshooting
Comment[zh_TW]=設定網路與排除障礙
Exec=su-to-root -X -c mx-network-assistant
Icon=mx-network-assistant
NoDisplay=false
Categories=System;MX-Setup;
Type=Application
